parameters:
  # PROCESSORS CLASS NAMES
  smartesb.processor.router.class: Smartbox\Integration\FrameworkBundle\Core\Processors\Routing\ContentRouter
  smartesb.processor.multicast.class: Smartbox\Integration\FrameworkBundle\Core\Processors\Routing\Multicast
  smartesb.processor.pipeline.class: Smartbox\Integration\FrameworkBundle\Core\Processors\Routing\Pipeline
  smartesb.processor.transformer.class: Smartbox\Integration\FrameworkBundle\Core\Processors\Transformation\Transformer
  smartesb.processor.throw_exception.class: Smartbox\Integration\FrameworkBundle\Core\Processors\ControlFlow\ThrowException
  smartesb.processor.stop.class: Smartbox\Integration\FrameworkBundle\Core\Processors\Miscellaneous\Stop
  smartesb.processor.process.class: Smartbox\Integration\FrameworkBundle\Core\Processors\Miscellaneous\Process
  smartesb.processor.try_catch.class: Smartbox\Integration\FrameworkBundle\Core\Processors\ControlFlow\TryCatch
  smartesb.processor.throttle.class: Smartbox\Integration\FrameworkBundle\Core\Processors\ControlFlow\Throttler
  smartesb.processor.recipient_list.class: Smartbox\Integration\FrameworkBundle\Core\Processors\Routing\RecipientList

  smartesb.handlers.message_routing.class: Smartbox\Integration\FrameworkBundle\Core\Handlers\MessageHandler
  smartesb.util.expression_language.class: Symfony\Component\ExpressionLanguage\ExpressionLanguage
  smartesb.util.expression_language_factory.class: Smartbox\Integration\FrameworkBundle\Tools\Evaluator\ExpressionLanguageFactory
  smartesb.util.evaluator.class: Smartbox\Integration\FrameworkBundle\Tools\Evaluator\ExpressionEvaluator
  smartesb.util.mapper.class: Smartbox\Integration\FrameworkBundle\Tools\Mapper\Mapper
  smartesb.serialization.handler.mongodate.class: Smartbox\Integration\FrameworkBundle\Components\DB\NoSQL\Drivers\MongoDB\MongoDBDateHandler
  smartesb.helper.class: Smartbox\Integration\FrameworkBundle\Tools\Helper\SmartesbHelper
  smartesb.itinerary.class: Smartbox\Integration\FrameworkBundle\Core\Itinerary\Itinerary
  smartesb.event_listener.events_logger.class: Smartbox\Integration\FrameworkBundle\Tools\Logs\EventsLoggerListener
  smartesb.itineray_resolver.class: Smartbox\Integration\FrameworkBundle\Core\Itinerary\ItineraryResolver

  smartesb.steps_provider.dbal.class: Smartbox\Integration\FrameworkBundle\Components\DB\Dbal\DbalStepsProvider
  smartesb.steps_provider.nosql.class: Smartbox\Integration\FrameworkBundle\Components\DB\NoSQL\NoSQLStepsProvider
  smartesb.steps_provider.csv.class: Smartbox\Integration\FrameworkBundle\Components\FileService\Csv\CsvConfigurableStepsProvider

services:
  smartesb.serialization.handler.mongodate:
      class: '%smartesb.serialization.handler.mongodate.class%'
      tags:
        - { name: jms_serializer.subscribing_handler }

  # CSV
  smartesb.steps_provider.csv_file:
      class: '%smartesb.steps_provider.csv.class%'
      calls:
        - [setId, ['smartesb.steps_provider.csv_file']]
        - [setConfHelper, ['@smartesb.configurable_service_helper']]

  # DB Configurable services
  smartesb.steps_provider.dbal:
      class: '%smartesb.steps_provider.dbal.class%'
      calls:
        - [ setId, [ 'smartesb.configurable.dbal'] ]
        - [ setDoctrine, [ '@?doctrine' ] ]
        - [ setMessageFactory, [ '@smartesb.message_factory' ] ]
        - [ setConfHelper, [ '@smartesb.configurable_service_helper' ] ]

  # DB Configurable services
  smartesb.steps_provider.nosql:
      class: '%smartesb.steps_provider.nosql.class%'
      calls:
        - [ setId, [ 'smartesb.configurable.nosql'] ]
        - [ setDriverRegistry, [ '@smartesb.drivers.nosql._registry' ] ]
        - [ setMessageFactory, [ '@smartesb.message_factory' ] ]
        - [setConfHelper, ['@smartesb.configurable_service_helper']]

  # UTILS
  smartesb.util.expression_language:
      class: '%smartesb.util.expression_language.class%'
      factory: ['%smartesb.util.expression_language_factory.class%', createExpressionLanguage]

  smartesb.util.evaluator:
      class: '%smartesb.util.evaluator.class%'
      arguments: ['@smartesb.util.expression_language']
      calls:
        - [setSerializer, ['@jms_serializer']]
        - [setMapper, ['@smartesb.util.mapper']]

  smartesb.util.mapper:
      class: '%smartesb.util.mapper.class%'
      calls:
        - [setDebug, ['%kernel.debug%']]
        - [setEvaluator, ['@smartesb.util.evaluator']]

  # INTERNAL HELPERS
  smartesb.message_factory:
      class: Smartbox\Integration\FrameworkBundle\Core\Messages\MessageFactory
      calls:
          - [ setFlowsVersion, [ '%smartesb.flows_version%' ] ]

  smartesb.endpoint_factory:
    class: Smartbox\Integration\FrameworkBundle\Core\Endpoints\EndpointFactory
    calls:
        - [ setEndpointsRouter, [ '@smartesb.router.endpoints' ] ]
        - [ setMessageFactory, [ '@smartesb.message_factory' ] ]

  smartesb.configurable_service_helper:
      class: Smartbox\Integration\FrameworkBundle\Configurability\ConfigurableServiceHelper
      calls:
          - [ setEvaluator, [ '@smartesb.util.evaluator' ] ]
          - [ setSerializer, [ '@jms_serializer' ] ]

  smartesb.helper:
      class: '%smartesb.helper.class%'
      calls:
          - [ setContainer, [ '@service_container' ] ]

  smartesb.itineray_resolver:
      class: '%smartesb.itineray_resolver.class%'
      calls:
          - [ setItinerariesRouter, [ '@smartesb.router.itineraries' ] ]

  # PLACEHOLDERS FOR CONFIGURED HANDLERS
  smartesb.handlers.sync:
      class: '%smartesb.handlers.message_routing.class%'

  smartesb.handlers.async:
      class: '%smartesb.handlers.message_routing.class%'

  # Serializers
  smartesb.serialization.queue.jms_serializer:
      class: Smartbox\Integration\FrameworkBundle\Components\Queues\Serialization\Serializer
      arguments: ['@jms_serializer']

  # Flow exporter
  smartesb.util.flow_exporter:
      class: Smartbox\Integration\FrameworkBundle\Tools\FlowExporter\FlowExporter
